/* BASIC STYLES HERE */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;

}

select {
  display: block;
}

.create-form {
  border: 1px solid black;
  padding: 10px;
}

.select-padding {
  padding-left: 5px;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}

#jumbleTextArea {
  width: 100%;
  min-height: 40dvh;
  max-height: 60dvh;
}